<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.dao.WeightDao">

	<!-- 그날그날 몸무게 입력 -->
	<insert id="insertBoard" parameterType="weightBean">
		INSERT INTO weight 
			(
				DATE, 
				D_KG
			) 
		VALUES
			(
				#{date},
				#{d_kg}
				
			)	
	</insert>
	
	<!-- 몸무게 삭제 -->
	<delete id="deleteBoard" parameterType="weightBean">
		DELETE FROM weight WHERE DATE = #{date}
	</delete>
	

	<!-- 31일간 몸무게 상황 보여주기 limit수정 필요-->
	<select id="selectBoardList"  resultType="dateBean">
		SELECT
			D_KG AS d_kg
		FROM
			weight
		limit 31
	</select>
	
	
	<!-- 31일간 날짜 상황 보여주기  limit수정 필요 -->
	<select id="dateList"  resultType="kgBean">
		SELECT
			DATE AS date
		FROM
			weight
		limit 31
	</select>
	
	
	<!-- 몸무게  -->
	<select id="selectBoard"  resultType="weightBean" parameterType="weightBean">
		SELECT
			DATE AS date,
			D_KG AS d_kg
		FROM
			weight
	
	</select>
	


 
</mapper>